/* Variables */
$fuse-tree-width: 320;

fuse-tree {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: #{$fuse-tree-width}px;
    min-width: #{$fuse-tree-width}px;
    max-width: #{$fuse-tree-width}px;
    z-index: 300;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
    @apply bg-card;

    /* Animations */
    &.fuse-tree-animations-enabled {
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: visibility, margin-left, margin-right, transform, width, max-width, min-width;

        .fuse-tree-content {
            transition-duration: 400ms;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-property: width, max-width, min-width;
        }
    }

    /* Over mode */
    &.fuse-tree-mode-over {
        position: absolute;
        top: 0;
        bottom: 0;

        /* Fixed mode */
        &.fuse-tree-fixed {
            position: fixed;
        }
    }

    /* Left position */
    &.fuse-tree-position-left {

        /* Side mode */
        &.fuse-tree-mode-side {
            margin-left: -#{$fuse-tree-width}px;

            &.fuse-tree-opened {
                margin-left: 0;
            }
        }

        /* Over mode */
        &.fuse-tree-mode-over {
            left: 0;
            transform: translate3d(-100%, 0, 0);

            &.fuse-tree-opened {
                transform: translate3d(0, 0, 0);
            }
        }

        /* Content */
        .fuse-tree-content {
            left: 0;
        }
    }

    /* Right position */
    &.fuse-tree-position-right {

        /* Side mode */
        &.fuse-tree-mode-side {
            margin-right: -#{$fuse-tree-width}px;

            &.fuse-tree-opened {
                margin-right: 0;
            }
        }

        /* Over mode */
        &.fuse-tree-mode-over {
            right: 0;
            transform: translate3d(100%, 0, 0);

            &.fuse-tree-opened {
                transform: translate3d(0, 0, 0);
            }
        }

        /* Content */
        .fuse-tree-content {
            right: 0;
        }
    }

    /* Content */
    .fuse-tree-content {
        position: absolute;
        display: flex;
        flex: 1 1 auto;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @apply bg-card;
    }
}

/* Overlay */
.fuse-tree-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 299;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);

    /* Fixed mode */
    &.fuse-tree-overlay-fixed {
        position: fixed;
    }

    /* Transparent overlay */
    &.fuse-tree-overlay-transparent {
        background-color: transparent;
    }
}
