// .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
//     align-items: flex-end !important;
// }
.hidden_div{
    display: none;
}
.block_div{
    display: block;
}
div#navMenu {
    padding: 0px;
    margin: 0px;
    width: 420px;
    list-style: none;
    position: relative
}

div#navMenu div#child {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0px;
    margin: 0px
}
.right-100{
    right: 25rem !important;
}
div#navMenu div {
    display: inline;
    float: left;
    position: relative
}

div#navMenu a {
    text-decoration: none;
    padding: 10px 0px;
    width: 100px;
    background: #666666;
    color: #ffffff;
    float: left;
    text-align: center;
    border: 1px solid #ffffff;
}

div#navMenu a:hover {
    background: #cccccc;
    color: #333333
}

div#navMenu div:hover div#child {
    display: block;
}

div#navMenu div#child a {
    width: 150px;
}

div#navMenu div#child div {
    display: block;
    margin: 0px
}


#item_child_hover{
    display: none !important;
    opacity: .7 !important;
    animation-name: slide !important;
    animation-duration: 2s !important;
}
@keyframes slide{
    0%{opacity: 0;}
    100%{opacity: .7;}
}
#item_hover:hover div#item_child_hover{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}