<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-x-scroll">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="'over'" [opened]="false" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <!-- show file detail -->
            <file_detail [file]="file" [show_detail_file]="show_detail_file"></file_detail>
            <!-- show folder detail -->
            <folder_detail [folder]="folder" [show_detail_folder]="show_detail_folder"></folder_detail>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col dark:bg-transparent">
            <div class="flex-auto p-3 sm:pt-3 sm:p-10" style="background-color: #f9fafb;">
                <div class="rounded-2xl">
                    <div class="flex flex-col">
                        <h1 mat-dialog-title class="dark:text-white" transloco="storage.quan_ly_file"></h1>
                    </div>
                    <div class="rounded-2xl py-3 px-6">
                        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                            <div class="flex-1">
                                <mat-form-field class="w-full" floatLabel="always">
                                    <mat-label>
                                        {{'search' | transloco}}
                                    </mat-label>
                                    <input matInput [(ngModel)]="filter.search" (keyup.enter)="get_list_file_folder()"
                                        placeholder="{{'storage.tim_theo_ten' | transloco}}">
                                    <button mat-icon-button color="primary" class="mr-4"
                                        (click)="get_list_file_folder()">
                                        Tìm kiếm
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <div class="justify-center flex items-center">
                                    <div class="flex">
                                        <button [matTooltip]="'Hiển thị dạng danh sách'" *ngIf="check_view==1"
                                            (click)="update_view_user(2)">
                                            <mat-icon svgIcon="heroicons_solid:view-list"></mat-icon>
                                        </button>
                                        <button [matTooltip]="'Hiển thị dạng lưới'" *ngIf="check_view==2"
                                            (click)="update_view_user(1)">
                                            <mat-icon svgIcon="heroicons_solid:view-grid"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="justify-center flex items-center">
                                    <div class="flex p-2 mb-2">
                                        <button [matMenuTriggerFor]="menu">
                                            <div class="flex">
                                                <mat-icon class="icon-size-8" svgIcon="mat_solid:add"></mat-icon>
                                                <span class="mt-1" transloco="system.them_moi"></span>
                                            </div>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="openDialogAdd()">
                                                <span transloco="system.tao_thu_muc"></span>
                                            </button>
                                            <button *ngIf="id_folder!='0'" mat-menu-item (click)="openDialogFile()">
                                                <span transloco="system.tai_file"></span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container>
                        <div class="px-6">
                            <manager_folder_indexGrid *ngIf="check_view==1" [lst_folder]="lst_folder"
                                [list_label]="list_label" [lst_file]="lst_file" [lst_data]="lst_data">
                            </manager_folder_indexGrid>
                            <manager_folder_indexList *ngIf="check_view==2" [lst_folder]="lst_folder"
                                [list_label]="list_label" [lst_file]="lst_file" [lst_data]="lst_data">
                            </manager_folder_indexList>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>