<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible" >

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div *ngIf="actionEnum==1" class="text-lg font-medium" transloco="system.tao_thu_muc"></div>
        <div *ngIf="actionEnum==2" class="text-lg font-medium" transloco="system.chinh_sua_thu_muc"></div>
    </div>
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <div class="flex flex-row justify-end space-x-2">
            <button class="bg-primary-600 text-white rounded shadow-none hover:bg-primary-700" *ngIf="actionEnum!=3"
                [disabled]="loading" mat-raised-button (click)="save_folder()" transloco="save"></button>
            <button class="bg-teal-500 text-white rounded shadow-none hover:bg-teal-600" [disabled]="loading"
                mat-raised-button (click)="close()" transloco="close"></button>
        </div>
        <br>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1">
                <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [label]="'system.nhap_ten_thu_muc'"
                    [keyError]="'db.ten'" [(model)]="record.db.ten">
                </cm_input>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [label]="'system.vi_tri'"
                        [type]="'number'" [keyError]="'db.vi_tri'" [(model)]="record.db.vi_tri">
                    </cm_input>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="max-width:100%">
                <h1 transloco="system.mo_ta"></h1>
                <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'db.mo_ta' ;  index as i;">
                    (<span *ngFor="let msg of item.value">
                        {{msg | transloco}}
                    </span>)
                </span>
                <editor class="w-full" [init]="timyconfig" [(ngModel)]="record.db.mo_ta">
                </editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.mo_ta"></h1>
                <span [innerHtml]="record.db.mo_ta | safeHtml"></span>
            </div>
        </div>
        <br />
        <div class="flex flex-row justify-end space-x-2">
            <button class="bg-primary-600 text-white rounded shadow-none hover:bg-primary-700" *ngIf="actionEnum!=3"
                [disabled]="loading" mat-raised-button (click)="save_folder()" transloco="save"></button>
            <button class="bg-teal-500 text-white rounded shadow-none hover:bg-teal-600" [disabled]="loading"
                mat-raised-button (click)="close()" transloco="close"></button>
        </div>
    </div>

</div>
