<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50">
                <img src="assets/images/logo/logo.png" style="image-rendering: -webkit-optimize-contrast;">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Đăng ký tài khoản thành công</div>
            <div class="mt-4">
                Tài khoản của bạn đang được phê duyệt.
                Vui lòng kiểm tra hộp thư thường xuyên để nhận phản hồi từ chúng tôi.
            </div>

            <!-- Form footer -->
            <div class="mt-8 text-md font-medium text-secondary">

                <a class="ml-1 text-primary-500 hover:underline"
                   [routerLink]="['/sign-in']">
                    Quay về trang chủ
                </a>
            </div>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden dark:border-l background-color-web-primary">

        <div class="z-10 relative w-full max-w-2xl">

            <div class="text-7xl font-bold leading-none text-gray-100">
                <img src="assets/images/logo/welcome.png" style="image-rendering: -webkit-optimize-contrast;">
            </div>
            <div class="text-2xl text-center font-bold leading-none text-white">
                Chào mừng bạn đến với Bách Khoa Alumni
            </div>
        </div>


    </div>
</div>
