
@mixin system-theme($theme) {
    .tag_person {
        color: blue !important;
    }

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);



    .not_yet_implemented {
        background-color: purple !important;
        color: white !important;
    }

    .processing {
        background-color: blue !important;
        color: white !important;
    }

    .pending {
        background-color: orange !important;
        color: white !important;
    }

    .finished {
        background-color: green !important;
        color: white !important;
    }

    .overdue {
        background-color: red !important;
        color: white !important;
    }

    .uploadfilecontainer {
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        height: 100px;
        width: 90%;
        margin: 5px auto;
        border: 2px dashed #1C8ADB;
        border-radius: 10px;
    }

    .uploadfilecontainer:hover {
        cursor: pointer;
        background-color: #9ecbec !important;
        opacity: 0.8;
    }

    project {

        .center {

            .header {

                .search-wrapper {
                    background: map-get($background, card);

                    .sidebar-toggle {
                        border-right-color: map-get($foreground, divider);
                    }

                    .search {

                        input {
                            background: map-get($background, card);
                            color: map-get($foreground, text);
                        }
                    }
                }
            }

            .content-card {

                .add-card-button {
                    background: #3a2f2f;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
    // task list
    .task-list {
        border-right-color: map-get($foreground, divider);
    }

    .milestone-list-item {

        mat-tree {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    // task list item
    .task-list-item {
        table {
            width: 100%;
        }
    }

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);

    // Card
    scrumboard-board-card {
        background-color: map-get($background, card);
        border-color: map-get($foreground, divider);

        .list-card-details {

            .list-card-badges {

                .badge {
                    background-color: rgba(0, 0, 0, 0.4);
                    color: #FFFFFF;

                    &.due-date {
                        background-color: mat-color(mat-palette($mat-green));

                        &.overdue {
                            background-color: mat-color(mat-palette($mat-red));
                        }
                    }

                    &.check-items {

                        &.completed {
                            background-color: mat-color(mat-palette($mat-green));
                        }
                    }
                }
            }
        }

        .list-card-footer {
            border-top-color: map-get($foreground, divider);

            .list-card-footer-item {
                color: map-get($foreground, secondary-text);
            }
        }
    }
    // Card dialog
    scrumboard-card-dialog {

        .mat-dialog-container {

            .mat-dialog-content {

                .sections {

                    .section {
                        border-bottom-color: map-get($foreground, divider);

                        .attachments {

                            .attachment {

                                .attachment-preview {
                                    background-color: map-get($background, card);
                                }

                                .attachment-content {

                                    .attachment-time {
                                        color: map-get($foreground, secondary-text);
                                    }
                                }
                            }
                        }

                        .comments {

                            .comment {

                                .comment-bubble {
                                    background-color: map-get($background, app-bar);
                                    border-color: map-get($background, app-bar);

                                    &:after,
                                    &:before {
                                        border-color: map-get($background, app-bar) transparent transparent transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    scrumboard-labels-menu {

        .mat-menu-content {

            .views {

                .view {

                    > .header {
                        border-bottom-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }
}
