<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <h1 mat-dialog-title class="dark:text-white" transloco="NAV.sys_khach_hang_nha_cung_cap"></h1>
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select [label]="'system.hinh_thuc'" [listData]="list_hinh_thuc"
                            [(model)]="filter.hinh_thuc" [callbackChange]="rerender.bind(this)"></cm_select>
                    </div>
                    <div class="flex-1">
                        <cm_select [label]="'system.loai_hinh'" [listData]="list_loai_hinh"
                            [(model)]="filter.loai_hinh" [callbackChange]="rerender.bind(this)"></cm_select>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select [label]="'system.use_status'" [listData]="list_status_del"
                            [(model)]="filter.status_del" [callbackChange]="rerender.bind(this)"></cm_select>
                    </div>
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label>
                                {{'search' | transloco}} ({{ 'system.name' | transloco }} | {{ 'system.tax_num' |
                                transloco }} | {{ 'system.so_dien_thoai' | transloco }} )
                            </mat-label>
                            <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()"
                                placeholder="{{'go_tu_khoa_tim_kiem' | transloco}}">
                            <button mat-icon-button color="primary" class="mr-4" (click)="rerender()">
                                Tìm kiếm
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div align="right" class="space-x-2">
                    <button class="rounded py-2 px-4 font-bold  bg-primary-500  hover:bg-primary-600  item2s-center"
                        (click)="openDialogAdd()">
                        <p transloco="system.add" class="mb-0 text-white"></p>
                    </button>
                    <!-- <button class="rounded py-2 px-4 font-bold  bg-yellow-500  hover:bg-yellow-600  item2s-center"
                        (click)="exportToExcel()">
                        <p transloco="system.xuat_excel" class="mb-0 text-white"></p>
                    </button> -->
                </div>
            </mat-card>
            <br />
            <div class="w-full">
                <table datatable [dtOptions]="dtOptions" class="cell-border myTable hover w-full">
                    <thead>
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:50px" transloco="system.no_"></th>
                            <th style="width:350px" transloco="system.ten"></th>
                            <th transloco="system.thong_tin_chung"></th>
                            <th transloco="system.tai_khoan_ngan_hang"></th>
                            <th style="width:120px" transloco="system.update_by"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listData?.length != 0">
                        <tr *ngFor="let item of listData;  index as i;">
                            <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item transloco="view"
                                        (click)="openDialogDetail(item.db.ma,i)"></button>
                                    <button mat-menu-item transloco="system.edit"
                                        *ngIf="item.db.hinh_thuc==1 ||item.db.hinh_thuc==2"
                                        (click)="openDialogEdit(item,i)"></button>
                                    <button *ngIf="item.db.status_del==2" mat-menu-item transloco="system.revert"
                                        (click)="revertStatus(item,1)"></button>
                                    <button *ngIf="item.db.status_del == 1" mat-menu-item transloco="stop_use"
                                        (click)="revertStatus(item,2)"></button>
                                </mat-menu>
                            </td>
                            <td align="center"> <span class="font-bold"> {{currentIndex+ i+1 }}</span> </td>
                            <td>
                                <span *ngIf="item.db.hinh_thuc==2" class="text-blue-900 font-bold"> {{
                                    item.db.ma_so_thue }}</span>
                                <span *ngIf="item.db.hinh_thuc!=2" class="text-blue-900 font-bold"> {{ item.db.ma
                                    }}</span>
                                <br />
                                {{ item.db.ten }}
                                <br>
                                <span transloco="system.hinh_thuc" class=" text-blue-900 font-bold"></span>:
                                <span *ngIf="item.db.hinh_thuc==1" class="mt-0 mb-1" transloco="system.ca_nhan"></span>
                                <span *ngIf="item.db.hinh_thuc==2" class="mt-0 mb-1" transloco="system.to_chuc"></span>
                                <span *ngIf="item.db.hinh_thuc==3" class="mt-0 mb-1"
                                    transloco="system.phong_ban"></span>
                                <span *ngIf="item.db.hinh_thuc==4" class="mt-0 mb-1"
                                    transloco="system.nhan_vien"></span>
                            </td>
                            <td>
                                <span *ngIf="item.db.hinh_thuc==3 ||item.db.hinh_thuc==4" class="mt-0 mb-1"
                                    transloco="system.sinh_tu_dong"></span>
                                <ng-container *ngIf="item.db.hinh_thuc==1|| item.db.hinh_thuc==2">
                                    <div *ngIf="item.db.hinh_thuc==2">
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.ma_so_thue"></span>:&nbsp;<span>{{ item.db.ma_so_thue
                                                }}</span></div>
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.email"></span>:&nbsp;<span>{{ item.db.email }}</span>
                                        </div>
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.phone"></span>:&nbsp;<span>{{ item.db.dien_thoai
                                                }}</span>
                                        </div>
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.address"></span>:&nbsp;<span>{{ item.db.dia_chi
                                                }}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="item.db.hinh_thuc!=2">
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.email"></span>:&nbsp;<span>{{ item.db.email }}</span>
                                        </div>
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.phone"></span>:&nbsp;<span>{{ item.db.dien_thoai
                                                }}</span>
                                        </div>
                                        <div><span class="font-bold text-blue-900 "
                                                transloco="system.address"></span>:&nbsp;<span>{{ item.db.dia_chi
                                                }}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </td>
                            <td>
                                <span class="text-blue-900 font-bold">
                                    {{ item.ten_ngan_hang }}
                                </span>
                                <br />
                                <span>{{ item.db.so_tai_khoan }}</span>
                            </td>
                            <td>
                                <span class="text-blue-900 font-bold">
                                    {{ item.ten_nguoi_cap_nhat }}
                                </span>
                                <br />
                                <span>{{ item.db.ngay_cap_nhat | date: 'dd/MM/yyyy HH:mm' }}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="listData?.length == 0">
                        <tr class="h-40">
                            <td colspan="100" class="no-data-available">
                                <nz-empty
                                    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                    [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                                    <ng-template #contentTpl>
                                        <span transloco="no_data"></span>
                                    </ng-template>
                                </nz-empty>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>