<div class="w-full">
    <div class="py-2">
        <div class="flex items-center font-medium text-secondary" *ngIf="lst_folder.length > 0 || lst_file.length> 0">
            {{lst_folder.length}} Thư mục, {{lst_file.length}} Files</div>
        <div class="text-primary cursor-pointer">
            <span *ngIf="list_label.length==0">
                Thư mục của tôi
            </span>
            <span *ngIf="list_label.length!=0" (click)="go_to_folder(0,1)">
                Trang chủ
            </span>
            <ng-container *ngFor="let item of list_label">
                <a class=" text-primary cursor-pointer" (click)="go_to_folder(item.id,1)"> /
                    {{item.name}}</a>
            </ng-container>
        </div>
    </div>
    <table datatable [dtOptions]="dtOptions" class="cell-border myTable hover w-full">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%" transloco="system.name"></th>
                <th style="width:30%" transloco="system.kich_co"></th>
                <th style="width:30%" transloco="system.update_by"></th>
            </tr>
        </thead>
        <tbody *ngIf="lst_data?.length != 0">
            <ng-container *ngFor="let item of lst_data;  index as i;">
                <tr (dblclick)="go_to_folder(item.db.id,item.type)">
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" (focus)="false">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="item.type==2"
                                (click)="downloadFile(item.db.id,item.db.file_name)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-download'">
                                </mat-icon>

                                <span>Tải file </span>
                            </button>


                            <button mat-menu-item *ngIf="item.type==2 &&item.db.id_admin == user_login.Id"
                                (click)="delete_file(item.db.id,2)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                </mat-icon>
                                <span transloco="system.delete">
                                </span>
                            </button>
                            <button mat-menu-item (click)="root_main.matDrawer.toggle()"
                                (click)="go_to_detail(item.db.id,item.type)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'">
                                </mat-icon>
                                <span transloco="system.xem_chi_tiet">
                                </span>
                            </button>
                            <button *ngIf="item.type==1" mat-menu-item (click)="openDialogShare(item,4)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                </mat-icon>
                                <span transloco="system.share">
                                </span>
                            </button>
                            <button *ngIf="item.type==2" mat-menu-item (click)="openDialogShare(item,5)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                </mat-icon>
                                <span transloco="system.share">
                                </span>
                            </button>
                            <button mat-menu-item (click)="copy(item.db.id)">
                                <img src="../assets/icons/copy.png" class="icon-size-5 mr-3" alt="" srcset="">
                                <span transloco="system.sao_chep_duong_dan">
                                </span>
                            </button>
                        </mat-menu>
                    </td>
                    <td>
                        <div *ngIf="item.type==1">
                            <div class="flex items-center">
                                <div class="">
                                    <mat-icon class="icon-size-10 mx-2 " [svgIcon]="'heroicons_solid:folder'">
                                    </mat-icon>
                                </div>
                                <div class="flex-1">
                                    <span>
                                        {{ item.db.ten }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="item.type==2">
                            <div class="flex items-center"
                                (click)="openDialogViewFileOnline('/storage_file_manager.ctr/downloadFile?id='+ item.db.id,item.db.file_name,item.db.file_type,item.db.file_size,item.ten_nguoi_cap_nhat,item.db.ngay_cap_nhat,item.db.id_admin,item.db.id)">
                                <div class="p-2">
                                    <img class="icon-size-8" [src]="getFontAwesomeIconFromMIME(item.db.file_type)" />
                                </div>
                                <div class="flex-1">
                                    {{item.db.file_name}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="item.type==1">
                            {{formatSizeUnits(item.size)}}
                        </span>
                        <span *ngIf="item.type==2">
                            {{formatSizeUnits(item.db.file_size)}}
                        </span>
                    </td>
                    <td>
                        <span class="text-blue-900 font-bold">
                            {{ item.ten_nguoi_cap_nhat }}
                        </span>
                        <br />
                        <span>{{ item.db.ngay_cap_nhat | date: 'dd/MM/yyyy HH:mm' }}</span>
                    </td>
                </tr>
                <tr></tr>
            </ng-container>
        </tbody>
        <tbody *ngIf="lst_data?.length == 0">
            <tr class="h-40">
                <td colspan="100" class="no-data-available">
                    <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                        [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                        <ng-template #contentTpl>
                            <span transloco="no_data"></span>
                        </ng-template>
                    </nz-empty>
                </td>
            </tr>
        <tbody>
    </table>
</div>