<ng-container>
    <!-- <div id="myToast"
        class="hidden_toat w-1/2 fixed top-15 px-3 py-2 border-r-8 border-green-500 bg-white drop-shadow-lg"
        style="border: 1px solid;z-index: 999999;">
        <p class="text-sm flex justify-around items-center mb-0">
            <span
                class="mr-2 inline-block px-2 py-2 rounded-full bg-green-500 text-white text-xl font-extrabold mr-3"><mat-icon>done_outline</mat-icon></span>
            <span transloco="portal.da_sao_chep_duong_dan" class="text-xl font-bold"></span>
        </p>
    </div> -->
    <div class="space-y-4">
        <!-- Folders -->
        <div class="flex items-center font-medium text-secondary" *ngIf="lst_folder.length > 0 || lst_file.length> 0">
            {{lst_folder.length}} Thư mục, {{lst_file.length}} Files</div>
        <div class="text-primary cursor-pointer">
            <span *ngIf="list_label.length==0">
                Thư mục của tôi
            </span>
            <span *ngIf="list_label.length!=0" (click)="go_to_folder(0)">
                Trang chủ
            </span>
            <ng-container *ngFor="let item of list_label;">
                <a class=" text-primary cursor-pointer" (click)="go_to_folder(item.id)"> /
                    {{item.name}}</a>
            </ng-container>
        </div>
        <!-- data -->
        <ng-container *ngIf="lst_data.length > 0">
            <div>
                <div class="flex flex-wrap -m-2 mt-2">
                    <ng-container *ngFor="let item of lst_data; trackBy:trackByFn">
                        <div *ngIf="item.type==1" class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                            <button class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="root_main.matDrawer.toggle()"
                                    (click)="get_detail_folder(item.db.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'">
                                    </mat-icon>
                                    <span transloco="system.xem_chi_tiet">
                                    </span>
                                </button>
                                <button mat-menu-item (click)="openDialogShare(item,4)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                    </mat-icon>
                                    <span transloco="system.share">
                                    </span>
                                </button>
                                <button mat-menu-item (click)="copy(item.db.id)">
                                    <img src="../assets/icons/copy.png" class="icon-size-5 mr-3" alt="" srcset="">
                                    <span transloco="system.sao_chep_duong_dan">
                                    </span>
                                </button>
                            </mat-menu>
                            <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer"
                                (click)="go_to_folder(item.db.id)">
                                <div class="aspect-[9/6]">
                                    <div class="flex items-center justify-center h-full">
                                        <mat-icon class="icon-size-14 text-hint opacity-50"
                                            [svgIcon]="'heroicons_solid:folder'"></mat-icon>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                    <div class="truncate" [matTooltip]="item.name">
                                        {{item.db.ten}}</div>
                                    <ng-container>
                                        <div class="text-secondary truncate">
                                            <span *ngIf="item.count_file==null">0 files</span>
                                            <span *ngIf="item.count_file!=null">{{item.count_file}}
                                                files</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </a>
                        </div>
                        <a *ngIf="item.type==2"
                            class="relative flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                            <button class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="downloadFile(item.db.id,item.db.file_name)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-download'">
                                    </mat-icon>
                                    <span>Tải file
                                    </span>
                                </button>
                                <button mat-menu-item
                                    (click)="root_main.matDrawer.toggle();get_detail_file(item.db.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'">
                                    </mat-icon>
                                    <span transloco="system.xem_chi_tiet">
                                    </span>
                                </button>
                                <button mat-menu-item (click)="openDialogShare(item,5)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                    </mat-icon>
                                    <span transloco="system.share">
                                    </span>
                                </button>
                                <button mat-menu-item *ngIf="item.db.id_admin == user_login.Id"
                                    (click)="delete_file(item.db.id,2)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                    </mat-icon>
                                    <span transloco="system.delete">
                                    </span>
                                </button>
                                <!-- <button mat-menu-item (click)="copy(item.db.id)">
                                    <img src="../assets/icons/copy.png" class="icon-size-5 mr-3" alt="" srcset="">
                                    <span transloco="system.coppy">
                                    </span>
                                </button> -->
                            </mat-menu>
                            <div class="aspect-[9/6]"
                                (click)="openDialogViewFileOnline('/storage_file_manager.ctr/downloadFile?id='+ item.db.id,item.db.file_name,item.db.file_type,item.db.file_size,item.ten_nguoi_cap_nhat,item.db.ngay_cap_nhat,item.db.id_admin,item.db.id)">
                                <div class="flex items-center justify-center h-full">
                                    <div class="relative">
                                        <img class="icon-size-14 text-hint opacity-50" style="height:50px"
                                            [src]="getFontAwesomeIconFromMIME(item.db.file_type)" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
                                (click)="openDialogViewFileOnline('/storage_file_manager.ctr/downloadFile?id='+ item.db.id,item.db.file_name,item.db.file_type,item.db.file_size,item.ten_nguoi_cap_nhat,item.db.ngay_cap_nhat,item.db.id_admin,item.db.id)">
                                <div class="truncate" [matTooltip]="item.db.file_name">
                                    {{item.db.file_name}}</div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <!-- forder -->
        <!-- <ng-container *ngIf="lst_folder.length > 0">
            <div>
                <div class="flex flex-wrap -m-2 mt-2">
                    <ng-container *ngFor="let folder of lst_folder; trackBy:trackByFn">
                        <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                            <button class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">

                                <button mat-menu-item (click)="root_main.matDrawer.toggle()"
                                    (click)="get_detail_folder(folder.db.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'">
                                    </mat-icon>
                                    <span transloco="system.xem_chi_tiet">
                                    </span>
                                </button>
                                <button mat-menu-item (click)="openDialogShare(folder,4)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                    </mat-icon>
                                    <span transloco="system.share">
                                    </span>
                                </button>
                            </mat-menu>
                            <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer"
                                (click)="go_to_folder(folder.db.id)">
                                <div class="aspect-[9/6]">
                                    <div class="flex items-center justify-center h-full">
                                        <mat-icon class="icon-size-14 text-hint opacity-50"
                                            [svgIcon]="'heroicons_solid:folder'"></mat-icon>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                    <div class="truncate" [matTooltip]="folder.name">
                                        {{folder.db.ten}}</div>
                                    <ng-container>
                                        <div class="text-secondary truncate">
                                            <span *ngIf="folder.count_file==null">0 files</span>
                                            <span *ngIf="folder.count_file!=null">{{folder.count_file}}
                                                files</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container> -->
        <!-- Files -->
        <!-- <ng-container *ngIf="lst_file.length > 0">
            <div>
                <div class="font-medium">Files của tôi</div>
                <div class="flex flex-wrap -m-2 mt-2">
                    <ng-container *ngFor="let file of lst_file">
                        <a class="relative flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                            <button class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8" mat-icon-button
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="downloadFile(file.db.id,file.db.file_name)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-download'">
                                    </mat-icon>


                                    <span>Tải file
                                    </span>
                                </button>
                                <button mat-menu-item
                                    (click)="root_main.matDrawer.toggle();get_detail_file(file.db.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'">
                                    </mat-icon>
                                    <span transloco="system.xem_chi_tiet">
                                    </span>
                                </button>
                                <button mat-menu-item (click)="openDialogShare(file,5)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'">
                                    </mat-icon>
                                    <span transloco="system.share">
                                    </span>
                                </button>
                                <button mat-menu-item *ngIf="file.db.id_admin == user_login.Id"
                                    (click)="delete_file(file.db.id,2)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                    </mat-icon>
                                    <span transloco="system.delete">
                                    </span>
                                </button>

                            </mat-menu>
                            <div class="aspect-[9/6]"
                                (click)="root_main.matDrawer.toggle();get_detail_file(file.db.id)">
                                <div class="flex items-center justify-center h-full">
                                    <div class="relative">
                                        <img class="icon-size-14 text-hint opacity-50" style="height:50px"
                                            [src]="getFontAwesomeIconFromMIME(file.db.file_type)" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
                                (click)="root_main.matDrawer.toggle();get_detail_file(file.db.id)">
                                <div class="truncate" [matTooltip]="file.db.file_name">
                                    {{file.db.file_name}}</div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </ng-container> -->
    </div>
</ng-container>