
    .avatar {
        position: relative; //phan tu cha
        .hover_avatar {
          position: absolute; // phần tử con định vị theo phần tử cha
          width: 250px; height: 200px;
          background: #ffffff;
          border-radius: 5px;
          border-color: rgb(228, 225, 225);
          border-width: 1px;
          bottom: -200px;
          display: none;
        }
     
        &:hover {
          .hover_avatar {
            display: block !important; 
          }
        }
      }

      .dataTables_scrollBody{
          height: 500px !important;
      }

