<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="flex flex-col flex-auto w-full mx-auto h-fit overflow-y-visible">


    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_mat_hang"></div>
    </div>
    <mat-card class="rounded-2xl py-6 px-6 shadow">
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap mt-4">
            <div class="flex-1">
                <cm_select [label]="'system.loai_mat_hang'" [callbackChange]="rerender.bind(this)"
                    [listData]="list_loai_mat_hang" [(model)]="filter.id_loai_mat_hang"></cm_select>
            </div>
            <div class="flex-1">
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>
                        {{'search' | transloco}} ({{ 'system.ten_mat_hang' | transloco }} | {{ 'system.ma_mat_hang'
                        |transloco}})
                    </mat-label>
                    <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()"
                        placeholder="{{'go_tu_khoa_tim_kiem' | transloco}}">
                    <button mat-icon-button color="primary" class="mr-4" (click)="rerender()">
                        Tìm kiếm
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div align="right" class="space-x-2">

            <button class="rounded py-2 px-4 font-bold  bg-primary-500  item2s-center hover:bg-primary-600"
                *ngIf="actionEnum!=3" [disabled]="loading" (click)="chon()">
                <p transloco="common.chon" class="mb-0 text-white"></p>
            </button>
            <button class="py-2 px-4 rounded font-bold  bg-teal-500  hover:bg-teal-600  item2s-center"
                [disabled]="loading" (click)="dong()">
                <p transloco="close" class="mb-0 text-white"></p>
            </button>

        </div>
    </mat-card>

    <br />
    <!-- Card form -->
    <mat-card class="rounded-2xl py-6 px-6 shadow">
        <!-- <p>Danh sách các mặt hàng được chọn:</p>
        <p style="color:dodgerblue;font-weight:bold">{{list_choose}}</p> -->
        <div class="w-full">
            <table datatable [dtOptions]="dtOptions" class="cell-border myTable hover w-full">
                <thead>
                    <tr>

                        <th style="width: 50px;" transloco="system.no_"></th>
                        <th style="width: 50px;">
                            <mat-checkbox class="example-margin" value="true" [checked]="check_all_mat_hang"
                                [indeterminate]="set_mat_hang()" (change)="set_all_mat_hang($event.checked)">
                            </mat-checkbox>
                        </th>
                        <th transloco="system.ten_mat_hang"></th>
                        <th transloco="system.don_vi_tinh" style="width: 100px;"></th>
                        <th transloco="system.ton_kho" style="width: 100px;"></th>
                        <th transloco="system.gia_ban_si" *ngIf="record.db.kieu_ban==1" style="width: 120px;"></th>
                        <th transloco="system.gia_ban_le" *ngIf="record.db.kieu_ban==2" style="width: 120px;"></th>
                        <th style="width: 50px;"> <span transloco="system.vat"></span>&nbsp;(%)</th>





                    </tr>
                </thead>
                <tbody *ngIf="listData?.length != 0">
                    <tr *ngFor="let item of listData;  index as i;">
                        <td align="center"> <span class="font-bold"> {{currentIndex+ i+1 }}</span> </td>
                        <td class="p-auto" align="center">
                            <mat-checkbox [(ngModel)]="item.is_check" (ngModelChange)="update_all_mat_hang()">
                            </mat-checkbox>
                        </td>
                        <td>
                            <span class="text-blue-900 font-bold"> {{ item.db.ma }}</span>
                            <br />
                            <span>{{ item.db.ten }} </span>
                            <br />
                            <span class="text-orange-500"> {{ item.ten_thuoc_tinh }}</span>
                        </td>
                        <td>
                            {{item.ten_don_vi_tinh}}
                        </td>
                        <td align="right">
                            {{item.ton_kho}}
                        </td>
                        <td *ngIf="record.db.kieu_ban==1" class="text-right">{{ item.db.gia_ban_si | number }}</td>
                        <td *ngIf="record.db.kieu_ban==2" class="text-right">{{ item.db.gia_ban_le | number }}</td>

                        <td align="right">{{item.db.vat}}</td>


                    </tr>
                </tbody>
                <tbody *ngIf="listData?.length == 0">
                    <tr class="h-40">
                        <td colspan="100" class="no-data-available">
                            <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                                <ng-template #contentTpl>
                                    <span transloco="no_data"></span>
                                </ng-template>
                            </nz-empty>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </mat-card>


</div>