.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.scroll-to-top-1 {
    position: fixed;
    bottom: 70px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop-1 {
    position: fixed;
    bottom: 70px;
    right: 15px;
    opacity: 1;
    transition: all .2s ease-in-out;
}