<div style="position: relative;overflow: hidden; width: 100%; height: 100%;">
    <div
        style="background-image: url('assets/images/portal/bg_sign_in.jpg');top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-position: center;opacity: 0.76;">
        <div
            style="top: 0;left: 0; background: linear-gradient(to left top, #6750A4 0%, rgba(103, 80, 164, 0) 65%);width: 100%;height: 100%;">
            <div style=" top: 0;left: 0;background-color: rgba(255, 255, 255, 0.2);width: 100%;height: 100%;"
                class="flex-auto flex items-center justify-center">

                <div class="flex items-center justify-center"
                    style="background-color: white !important;opacity: 1;position: relative;">
                    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
                        style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                            <!-- Logo -->
                            <!-- <div class="w-50">
                                <img src="{{data_logo.avatar}}" (click)="gobackhomepage()"
                                    style="image-rendering: -webkit-optimize-contrast;">
                            </div> -->

                            <!-- Title -->
                            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Quên mật khẩu?</div>
                            <div class="mt-0.5 font-medium">Nhập địa chỉ email để lấy lại mật khẩu</div>

                            <!-- Alert -->
                            <fuse-alert class="mt-2 -mb-2" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                                [type]="alert.type" [@shake]="alert.type === 'error'">
                                {{alert.message}}
                            </fuse-alert>


                            <!-- <form class="mt-8"
                                  [formGroup]="forgotPasswordForm"
                                  #forgotPasswordNgForm="ngForm">
                
                                 <mat-form-field class="w-full">
                                    <mat-label>Email</mat-label>
                                    <input id="email"
                                           matInput
                                           [formControlName]="'email'">
                                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                                        Bắt buộc
                                    </mat-error>
                                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                                        Vui lòng nhập đúng email
                                    </mat-error>
                                </mat-form-field>
                
                                <mat-form-field class="w-full mb-5">
                                    <mat-label>
                                        Captcha
                                    </mat-label>
                                    <span matPrefix> <img [src]="srcCaptcha" (click)="reloadCaptcha()" style="width:100px" class="h-auto" /></span>
                
                                    <input matInput [type]="'text'" [formControlName]="'capcha'">
                                    <mat-error *ngIf="forgotPasswordForm.get('capcha').hasError('required')" transloco="required">
                
                                    </mat-error>
                                    <button mat-icon-button matSuffix (click)="reloadCaptcha()" type="button">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                </mat-form-field>
                
                
                
                                <button class="fuse-mat-button-large w-full mt-3"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="forgotPasswordForm.disabled"
                                        (click)="sendResetLink()">
                                    <span *ngIf="!forgotPasswordForm.disabled">
                                        Gửi link reset mật khẩu
                                    </span>
                                    <mat-progress-spinner *ngIf="forgotPasswordForm.disabled"
                                                          [diameter]="24"
                                                          [mode]="'indeterminate'"></mat-progress-spinner>
                                </button>
                
                                <button class="fuse-mat-button-large w-full mt-6"
                                        mat-flat-button
                                        [color]="'accent'"
                                        (click)="gobackhomepage()">
                                    <span transloco="portal.homepage"></span>
                                </button>
                                <div align="right" class="flex-1 text-base mt-10">
                                    Copyright © {{currentYear}} Hoc AI - All right reserved
                                    <br />
                                    <a href="https://vnaisoft.com/" style="color:black">Powered by vnaisoft Corporation</a>
                                </div>
                
                            </form> -->


                            <div class="w-full mt-4">
                                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                                    <div class="flex-1">

                                        <cm_input [errorModel]="errorModel" [label]="'system.email'"
                                            [keyError]="'db.email'" [(model)]="record.db.email"></cm_input>
                                    </div>
                                </div>
                                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                                    <div class="flex-1">

                                        <mat-form-field class="w-full mb-5">
                                            <mat-label>
                                                Captcha <span style="color: red"
                                                    *ngFor="let item of errorModel | filter: 'key':'capcha'; index as i">
                                                    (<span *ngFor="let msg of item.value"> {{ msg | transloco}} </span>)
                                                </span>
                                            </mat-label>
                                            <span matPrefix> <img [src]="srcCaptcha" (click)="reloadCaptcha()"
                                                    style="width:100px" class="h-auto" /></span>

                                            <input matInput [type]="'text'" [(ngModel)]="record.capcha">
                                            <button mat-icon-button matSuffix (click)="reloadCaptcha()" type="button">
                                                <mat-icon>refresh</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
                                    [disabled]="forgotPasswordForm.disabled" (click)="sendResetLinkNew()">
                                    <span *ngIf="!forgotPasswordForm.disabled">
                                        Gửi link reset mật khẩu
                                    </span>
                                    <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
                                        [mode]="'indeterminate'"></mat-progress-spinner>
                                </button>

                                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'accent'"
                                    (click)="gobackhomepage()">
                                    <span transloco="portal.homepage"></span>
                                </button>

                            </div>

                            <div align="center" class="flex-1 text-sm mt-10">
                                Copyright © {{currentYear}} SV IUH - All right reserved
                                <br />
                                <a href="https://vnaisoft.com/" style="color:black">Powered by SV IUH</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>