<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">


    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_cau_hinh_anh_mac_dinh"></div>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-4 space-y-1">
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1">
                <cm_select [errorModel]="errorModel"
                [actionEnum]="actionEnum"
                           [label]="'system.loai_cau_hinh'"
                           [keyError]="'db.type'"
                           [listData]="list_type"
                           [(model)]="record.db.type"></cm_select>
            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3 && record.db.type!=8">
            <div class="flex-1">
                <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>
                <div align="center">
                    <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'db.image' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <div class="uploadfilecontainer" (click)="fileInput1.click()" appDragDrop (onFileDropped)="DragAndDrop_image($event)" align="center">
                    <h3 style="margin:auto" transloco="chose_file" *ngIf="record.image==null"></h3>
                    <img [src]="record.image" style="height:100%" *ngIf="record.image!=null" />
                    <input hidden type="file" #fileInput1 (change)="chose_file_image($event)" accept="image/*">
                </div>

                <br />
                <div style="position: relative;padding:20px" *ngIf="Progress_image!=-1">
                    <mat-progress-bar mode="determinate" [value]="Progress_image" style="height: 2em;" color="'Warn'"></mat-progress-bar>
                    <span style="position: absolute; top: 0.5em;" [ngStyle]="{'left': Progress_image + '%'}">{{Progress_image}}%</span>
                </div>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum==3 ">
            <div class="flex-1">
                <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>

                <div class="uploadfilecontainer" align="center">
                    <img [src]="record.image" style="height:100%" />
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3 && (record.db.type==1 || record.db.type==2)">
            <div class="flex-1">
                <label transloco="system.avatar" style="padding:25px;color:blue;font-size:20px;font-weight:bold" *ngIf = "record.db.type!=11"></label>
                <label transloco="system.logo_2" style="padding:25px;color:blue;font-size:20px;font-weight:bold" *ngIf = "record.db.type==11"></label>
                <div align="center">
                    <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'db.avatar' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <div class="uploadfilecontainer" (click)="fileInput1.click()" appDragDrop (onFileDropped)="DragAndDrop_image_avatar($event)" align="center">
                    <h3 style="margin:auto" transloco="chose_file" *ngIf="record.avatar==null"></h3>
                    <img [src]="record.avatar" style="height:100%" *ngIf="record.avatar!=null" />
                    <input hidden type="file" #fileInput1 (change)="chose_file_image_avatar($event)" accept="image/*">
                </div>

                <br />
                <div style="position: relative;padding:20px" *ngIf="Progress_image_avatar!=-1">
                    <mat-progress-bar mode="determinate" [value]="Progress_image_avatar" style="height: 2em;" color="'Warn'"></mat-progress-bar>
                    <span style="position: absolute; top: 0.5em;" [ngStyle]="{'left': Progress_image_avatar + '%'}">{{Progress_image_avatar}}%</span>
                </div>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum==3 &&  (record.type==1 || record.type==11)">
            <div class="flex-1">
                <label transloco="system.avatar" style="padding:25px;color:blue;font-size:20px;font-weight:bold" *ngIf = "record.db.type!=11"></label>
                <label transloco="system.logo_2" style="padding:25px;color:blue;font-size:20px;font-weight:bold" *ngIf = "record.db.type==11"></label>
                <div class="uploadfilecontainer" align="center">
                    <img [src]="record.avatar" style="height:100%" />
                </div>
                <br />
            </div>

        </div>
        <div class="flex flex-row justify-end space-x-2">
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save()" transloco="save"></button>
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
        </div>
    </div>
</div>
