<div class="flex flex-col bg-white flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{ header | transloco }}</div>
    </div>
    <div class="flex justify-center">
        <mat-spinner></mat-spinner>
    </div>
    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <div class="w-full">
        </div>
    </div>
</div>