<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <div class="rounded-2xl">
            <h1 mat-dialog-title class="dark:text-white" transloco="NAV.sys_cau_hinh_ma_he_thong"></h1>

            <mat-card class=" rounded-2xl py-6 px-6 shadow">
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select [label]="'system.controller'" [listData]="list_controller"
                            [(model)]="filter.controller" [callbackChange]="loadData.bind(this)"></cm_select>
                    </div>
                    <div class="flex-1"></div>
                </div>
            </mat-card>
            <br />
            <mat-card>
                <div *ngIf="filter.controller == ''">
                    <h1 style="text-align:center">
                        <span transloco="system.vuilongchoncontroller"></span>
                    </h1>
                </div>
                <div class="w-full" *ngIf="filter.controller != ''">
                    <p>
                        <span style="font-size:24px;font-weight:700;color:cornflowerblue">Mã tài liệu bao gồm:</span>
                    </p>
                    <section class="example-section">
                        <ul>
                            <li>
                                <mat-checkbox [(ngModel)]="record.db.is_ngay_gio" [color]="'warn'"
                                    (ngModelChange)="changeMaTaiLieu()">
                                    <span style="font-size:20px;font-weight:700;">01. <span
                                            transloco="system.ngaythangnam"></span></span>
                                </mat-checkbox>
                            </li>
                            <li>
                                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                                    <div class="flex-1">
                                        <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum"
                                            [label]="'system.tiento'" [keyError]="'so_tai_lieu'"
                                            [(model)]="record.db.tien_to">
                                        </cm_input>
                                    </div>
                                    <div class="flex-1"></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                                    <div class="flex-1">
                                        <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [type]="'number'"
                                            [label]="'system.so_chu_so_tu_tang'" [keyError]="'so_chu_so_tu_tang'"
                                            [(model)]="record.db.so_chu_so_tu_tang"
                                            [callbackChange]="changeSoTuTang.bind(this)">
                                        </cm_input>
                                    </div>
                                    <div class="flex-1"></div>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <span style="font-weight:700" transloco="system.note"></span>: <span
                        transloco="system.sochusotutangphaitu4den6"></span>
                    <br />
                    <br />
                    <p>
                        <span style="font-size:18px;font-weight:700">Xem trước mã : </span>
                        <span *ngIf="record.db.tien_to !=''" style="font-size:20px;font-weight:700;color:red">
                            {{record.ngaygio + record.db.tien_to + record.db.so_tu_tang}} </span>
                        <span *ngIf="record.db.tien_to ==''" style="font-size:20px;font-weight:700;color:red">
                            {{record.ngaygio + record.db.so_tu_tang}} </span>
                        <span *ngFor="let item of errorModel | filter : 'key' : 'matailieu';  index as i;">
                            (
                            <span style="color:red;font-size:16px" *ngFor="let msg of item.value">
                                <span>{{msg | transloco}}</span>
                            </span>
                            )
                        </span>
                    </p>
                    <div align="end">
                        <button color="accent" mat-raised-button [disabled]="loading" mat-button (click)="saveCauHinh()"
                            transloco="save"></button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<style>
    .example-section {
        margin: 12px 0;
    }

    .example-margin {
        margin: 0 12px;
    }

    ul {
        list-style-type: none;
        margin-top: 8px;
    }
</style>