<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <h1 mat-dialog-title class="dark:text-white" transloco="NAV.sys_don_hang_mua"></h1>
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <!-- <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <div class="flex items-center border-b border-blue-500 py-2">
                            <div class="flex w-full items-center justify-center bg-grey-lighter">
                                <label
                                    class="w-full p-1 flex flex-row items-center bg-white text-blue rounded-lg tracking-wide uppercase  cursor-pointer hover:bg-blue-600 hover:text-white">
                                    <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                    </svg>
                                    &nbsp;&nbsp;
                                    <span *ngIf="file" class="text-base leading-normal"> {{file.name}}</span>
                                    <span *ngIf="!file" class="text-base leading-normal"> Chọn file import đơn hàng
                                        mua</span>
                                    <input type='file' class="hidden" (change)="onFileSelected($event)" #fileUpLoad />
                                </label>
                            </div>

                            <button
                                class="flex-shrink-0 border-transparent border-4 text-blue-500 hover:bg-blue-600 hover:text-white text-base py-1 px-2 rounded"
                                type="button" (click)="dowloadFileMau()">
                                <span transloco="system.import_form"></span>
                            </button>
                            <button
                                class="flex-shrink-0 border-transparent border-4 text-blue-500 hover:bg-blue-600 hover:text-white text-base py-1 px-2 rounded"
                                type="button" (click)="onSubmitFile($event)">
                                <span transloco="system.improt"></span>
                            </button>
                        </div>
                    </div>
                    <div class="flex-1">
                    </div>
                </div>
                <br> -->
                <!-- <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select [label]="'system.loai_giao_dich'" [callbackChange]="rerender.bind(this)"
                            [listData]="list_loai_giao_dich" [(model)]="filter.id_loai_giao_dich"></cm_select>
                    </div>
                    <div class="flex-1">
                        <cm_input [label]="'system.tu_ngay_dat_hang'" [type]="'datepicker'" [readonly]="'false'"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.tu_ngay"></cm_input>
                    </div>
                    <div class="flex-1">
                        <cm_input [label]="'system.den_ngay_dat_hang'" [type]="'datepicker'" [readonly]="'false'"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.den_ngay"></cm_input>
                    </div>
                </div> -->
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select [label]="'system.status_del'" [listData]="list_status_del"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.status_del"></cm_select>
                    </div>
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label>
                                {{'search' | transloco}} ({{ 'system.don_hang' | transloco }})
                            </mat-label>
                            <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()"
                                placeholder="{{'go_tu_khoa_tim_kiem' | transloco}}">
                            <button mat-icon-button color="primary" class="mr-4" (click)="rerender()">
                                Tìm kiếm
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div align="right" class="space-x-2">
                    <button class="rounded py-2 px-4 font-bold  bg-primary-500  hover:bg-primary-600  item2s-center"
                        (click)="openDialogAdd()">
                        <p transloco="system.add" class="mb-0 text-white"></p>
                    </button>
                    <button class="rounded py-2 px-4 font-bold  bg-yellow-500  hover:bg-yellow-600  item2s-center"
                        (click)="exportToExcel()">
                        <p transloco="system.xuat_excel" class="mb-0 text-white"></p>
                    </button>
                    <!-- <button class="rounded py-2 px-4 font-bold  bg-yellow-500  hover:bg-yellow-600  item2s-center"
                        (click)="exportExcelDetails()">
                        <p class="mb-0 text-white">Xuất excel chi tiết</p>
                        
                    </button> -->
                </div>
            </mat-card>
            <br />

            <div class="w-full">
                <table datatable [dtOptions]="dtOptions" class="cell-border myTable hover w-full">
                    <thead>
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:50px" transloco="system.no_" style="text-align:center"></th>
                            <!-- <th style="width:70px" transloco="system.loai_giao_dich"></th> -->
                            <th transloco="system.don_hang"></th>
                            <th transloco="system.nha_cung_cap"></th>
                            <!-- <th transloco="system.ghi_chu"></th> -->
                            <th style="width:120px" transloco="system.tong_tien_sau_thue"></th>
                            <!-- <th style="width:120px" transloco="system.thuc_chi"></th> -->
                            <th style="width:120px" transloco="system.ngay_dat_hang"></th>
                            <th style="width:120px" transloco="system.update_by"></th>

                        </tr>
                    </thead>
                    <tbody *ngIf="listData?.length != 0">
                        <tr *ngFor="let item of listData;  index as i;">
                            <td style="vertical-align: middle !important;height: 100%;align-items: center;">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item transloco="view" (click)="openDialogDetail(item,i)"></button>
                                    <button mat-menu-item transloco="system.edit"
                                        (click)="openDialogEdit(item,i)"></button>
                                    <!-- <button mat-menu-item transloco="system.lich_su_chinh_sua"
                                        (click)="openDialogHistoryEdit(item,i)"></button> -->
                                    <button mat-menu-item transloco="system.dinh_kem_file" *ngIf="item.db.id!='0'"
                                        (click)="openDialogFile(item,i)"></button>
                                    <button mat-menu-item transloco="system.print"
                                        (click)="openDialogPrint(item)"></button>
                                    <!-- <button *ngIf="item.db.status_del==2" mat-menu-item transloco="system.revert"
                                            (click)="revertStatus(item,1)"></button> -->
                                    <button *ngIf="item.db.status_del == 1" mat-menu-item transloco="system.huy"
                                        (click)="update_status_del(item,2)"></button>
                                </mat-menu>
                            </td>
                            <td style="width:70px" align="center" class="font-bold">{{i+1 }}</td>
                            <!-- <td>
                                <span class="text-cyan-600" *ngIf="item.db.loai_giao_dich==1">{{ item.loai_giao_dich_str
                                    }}</span>

                                <span class="text-purple-600" *ngIf="item.db.loai_giao_dich==2">{{
                                    item.loai_giao_dich_str }}</span>


                            </td> -->
                            <td>
                                <span>

                                    <span class="text-blue-900 font-bold"> {{ item.db.ma }}</span>
                                </span>
                                <br />
                                <span>
                                    <span>{{ item.db.ten }}</span>
                                </span>
                            </td>

                            <td>
                                <span class="text-blue-900 font-bold"> {{ item.db.id_doi_tuong }}</span>
                                <br />
                                <span>
                                    {{ item.db.ten_doi_tuong }}
                                </span>
                            </td>
                            <!-- <td> {{item.db.ghi_chu}}</td> -->
                            <td align="end">{{ item.db.tong_tien_sau_thue | number }}</td>
                            <!-- <td>
                                <span *ngIf="item.db.so_tien_da_chi > 0">
                                    <span class="text-green-500 font-bold">{{item.db.so_tien_da_chi | number }}</span>
                                </span>
                                <span *ngIf="item.db.so_tien_da_chi == null || item.db.so_tien_da_chi == 0">
                                    <span class="text-red-500 font-bold" transloco="system.chua_chi"></span>
                                </span>
                            </td> -->
                            <td align="end">{{ item.db.ngay_dat_hang | date: 'dd/MM/yyyy' }}</td>

                            <td>
                                <span class="text-blue-900 font-bold">
                                    {{ item.ten_nguoi_cap_nhat }}
                                </span>
                                <br />
                                <span>{{ item.db.ngay_cap_nhat | date: 'dd/MM/yyyy HH:mm' }}</span>
                            </td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="listData?.length == 0">
                        <tr class="h-40">
                            <td colspan="100" class="no-data-available">
                                <nz-empty
                                    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                    [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                                    <ng-template #contentTpl>
                                        <span transloco="no_data"></span>
                                    </ng-template>
                                </nz-empty>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>


        </div>
    </div>
</div>