<div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium" transloco="NAV.sys_don_hang_mua"></div>
</div>

<mat-card class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
    <div class="flex flex-row justify-end space-x-2 mr-4 mb-4">

        <button class="rounded py-2 px-4 font-bold  bg-primary-500  item2s-center hover:bg-primary-600"
            *ngIf="actionEnum!=3" [disabled]="loading" (click)="save()">
            <p transloco="save" class="mb-0 text-white"></p>
        </button>
        <button class="rounded py-2 px-4 font-bold  bg-teal-500  hover:bg-teal-600  item2s-center" [disabled]="loading"
            (click)="close()">
            <p transloco="close" class="mb-0 text-white"></p>
        </button>
    </div>
    <!-- thong tin don hang -->
    <h3 transloco="system.thong_tin_don_hang" class="text-2xl font-bold underline"></h3>
    <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
        <div class="flex-1">
            <cm_input [errorModel]="errorModel" [actionEnum]="3" [label]="'system.ma_don_hang'"
                [keyError]="'db.ma'"  [(model)]="record.db.ma">
            </cm_input>

            <!-- <mat-form-field class="w-full" floatLabel="always">
                <mat-label>
                    {{'system.ma_don_hang' | transloco}}
                </mat-label>
                <input matInput [(ngModel)]="record.db.ma" disabled="true">
            </mat-form-field> -->
        </div>

        <div class="flex-1">
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>
                    {{'system.ten_don_hang' | transloco}}
                </mat-label>
                <input matInput [(ngModel)]="record.db.ten" placeholder="Bấm vào đây để nhập">
                <!-- <button mat-icon-button color="primary" class="mr-4" (click)="get_code()" *ngIf="actionEnum==1">
                    Làm mới
                </button> -->
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
        <div class="flex-1">
            <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" 
                [keyError]="'db.ngay_dat_hang'"
                [label]="'system.ngay_dat_hang'" 
                [type]="'datepicker'" [readonly]="'false'"
                [(model)]="record.db.ngay_dat_hang"></cm_input>
        </div>
        <div class="flex-1">
            <mat-label for="" class="text-lg" style="font-weight: 450;" transloco="system.ghi_chu"></mat-label>
            <mat-form-field class="mt-1 fuse-mat-textarea fuse-mat-no-subscript w-full">
                <textarea maxlength="1000" matInput [rows]="3" [(ngModel)]="record.db.ghi_chu"
                    *ngIf="actionEnum ==3" disabled="true" [placeholder]="'Bấm vào đây để nhập'"
                    matTextareaAutosize></textarea>
                <textarea maxlength="1000" matInput [rows]="3" [(ngModel)]="record.db.ghi_chu"
                    *ngIf="actionEnum !=3" [placeholder]="'Bấm vào đây để nhập'" matTextareaAutosize></textarea>
            </mat-form-field>
        </div>
    </div>
    <h3 transloco="system.thong_tin_mat_hang" class="text-2xl font-bold underline"></h3>
    <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3">
        <div class="flex-1 mt-6">
            <mat-form-field class="w-full" floatLabel="always">
                <input matInput [(ngModel)]="ma_mat_hang" (keyup.enter)="add_mat_hang()"
                    placeholder="{{'system.nhap_ma_mat_hang' | transloco}}">

                <button mat-icon-button color="primary" class="mr-4" (click)="openDialogChooseMatHang()">
                    <span transloco="common.chon"></span>
                </button>
            </mat-form-field>
        </div>
        <div class="flex-1">
            <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" (keyup.enter)="add_mat_hang()"
                [keyError]="'so_luong_mh'" [label]="'system.so_luong'" [(model)]="record.so_luong_mh"
                [type]="'number'"></cm_input>
        </div>
    </div>
    <mat-label class="ml-2" *ngIf="actionEnum!=3">
        <span style="color: red" *ngFor="let item of errorModel | filter: 'key':'list_mat_hang'; index as i">
            (<span *ngFor="let msg of item.value"> {{ msg | transloco }} </span>)
        </span>
    </mat-label>
    <div class="w-full overflow-auto">
        <table class="cell-border hover w-full overflow-auto ">
            <thead class="bg-blue-500 text-center text-white h-8">
                <tr>
                    <th *ngIf="actionEnum !=3" style="width:50px"></th>
                    <th transloco="no_" style="width:50px"></th>
                    <th style="min-width: 140px"> <span transloco="system.mat_hang"></span></th>
                    <th transloco="system.so_luong" style="min-width: 100px"></th>
                    <th transloco="system.don_gia" style="min-width: 100px"></th>
                    <th style="min-width: 100px">
                        <span transloco="system.vat"></span> (%)
                    </th>
                    <th transloco="system.tong_thanh_tien" style="min-width: 100px"></th>
                    <th transloco="system.ghi_chu"></th>
                </tr>
            </thead>
            <tbody *ngIf="record.list_mat_hang?.length != 0">
                <ng-container *ngFor="let item of record.list_mat_hang;  index as i;">
                    <tr>
                        <td *ngIf="actionEnum !=3" align="center">
                            <button color="warn" mat-raised-button transloco="delete"
                                (click)="delete_mat_hang(i,item.ten_mat_hang)">
                            </button>
                        </td>
                        <td style="text-align:center">{{i+1 }}</td>
                        <td>
                            <span class="text-blue-900 font-bold"> {{ item.ma_mat_hang }}</span>
                            <br />
                            <span>{{ item.ten_mat_hang }} </span>
                            <!-- <br *ngIf="actionEnum ==1" />
                            <span *ngIf="actionEnum ==1">
                                <span class="font-bold" transloco="system.ton_kho"></span>:
                                <span>{{item.ton_kho | number}}</span>
                            </span> -->
                        </td>
                        <td>
                            <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [type]="'number'"
                                [keyError]="'so_luong'+i" [suffixstring]="item.ten_don_vi_tinh" [pos]="i"
                                [callbackChangeWithParamPos]="loadThanhTienSauThueMatHang.bind(this)"
                                [(model)]="item.so_luong">
                            </cm_input>
                        </td>
                        <td>
                            <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [type]="'number'"
                                [keyError]="'don_gia'+i" [pos]="i"
                                [callbackChangeWithParamPos]="loadThanhTienSauThueMatHang.bind(this)"
                                [(model)]="item.don_gia"></cm_input>
                        </td>
                        <td>
                            <cm_select [errorModel]="errorModel" [actionEnum]="actionEnum" [keyError]="'vat'+i"
                                [pos]="i" [listData]="list_vat"
                                [callbackChangeWithParamPos]="loadThanhTienSauThueMatHang.bind(this)"
                                [(model)]="item.vat">
                            </cm_select>
                        </td>
                        <td>
                            <cm_input [type]="'number'" [actionEnum]="3" [errorModel]="errorModel"
                                [keyError]="'thanh_tien'+i" [pos]="i"
                                [callbackChangeWithParamPos]="loadThanhTienSauThueMatHang.bind(this)"
                                [(model)]="item.thanh_tien"></cm_input>
                        </td>
                        <td>
                            <cm_input [type]="'text'" [actionEnum]="actionEnum" [(model)]="item.ghi_chu">
                            </cm_input>
                        </td>
                    </tr>
                </ng-container>

                <tr>
                    <td colspan="5" align="right">
                        <span
                            class="font-bold  text-blue-600"
                            transloco="system.tong_thanh_tien"></span>
                    </td>
                    <td colspan="8" align="right" class="font-bold">
                        {{record.db.tong_thanh_tien | number}}
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
    <div class="flex flex-row justify-end space-x-2 mr-4 py-4">
        <button class="rounded py-2 px-4 font-bold  bg-primary-500  item2s-center hover:bg-primary-600"
            *ngIf="actionEnum!=3" [disabled]="loading" (click)="save()">
            <p transloco="save" class="mb-0 text-white"></p>
        </button>
        <button class="rounded py-2 px-4 font-bold  bg-teal-500  hover:bg-teal-600  item2s-center"
            [disabled]="loading" (click)="close()">
            <p transloco="close" class="mb-0 text-white"></p>
        </button>
    </div>
</mat-card>