<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <h1 mat-dialog-title class="dark:text-white" transloco="NAV.sys_phieu_xuat_kho"></h1>
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_input [label]="'system.tu_ngay_xuat'" [type]="'datepicker'"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.tu_ngay"></cm_input>
                    </div>
                    <div class="flex-1">
                        <cm_input [label]="'system.den_ngay_xuat'" [type]="'datepicker'"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.den_ngay"></cm_input>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label>
                                {{'search' | transloco}} ({{ 'system.phieu_xuat_kho' | transloco }})
                            </mat-label>
                            <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()"
                                placeholder="{{'go_tu_khoa_tim_kiem' | transloco}}">
                            <button mat-icon-button color="primary" class="mr-4" (click)="rerender()">
                                Tìm kiếm
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="flex-1">
                        <cm_select [label]="'system.status_del'" [listData]="list_status_del"
                            [callbackChange]="rerender.bind(this)" [(model)]="filter.status_del"></cm_select>
                    </div>
                </div>
                

                <div align="right" class="space-x-2">
                    <!-- <button class="rounded py-2 px-4 font-bold  bg-green-500  hover:bg-green-600  item2s-center"
                        (click)="openDialogImport()">
                        <p class="mb-0 text-white">Import</p>
                    </button> -->
                    <button class="rounded py-2 px-4 font-bold  bg-primary-500  hover:bg-primary-600  item2s-center"
                        (click)="openDialogAdd()">
                        <p transloco="system.add" class="mb-0 text-white"></p>
                    </button>
                    <button class="rounded py-2 px-4 font-bold  bg-yellow-500  hover:bg-yellow-600  item2s-center"
                        (click)="exportToExcel()">
                        <p transloco="system.xuat_excel" class="mb-0 text-white"></p>
                    </button>
                </div>

            </mat-card>
            <br />
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <div class="w-full">
                    <table datatable [dtOptions]="dtOptions" class="cell-border hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:50px !important"></th>
                                <th align="center" style="max-width:50px !important" transloco="system.no_"></th>
                                <th transloco="system.ten"></th>
                                <th style="width:120px !important" transloco="system.ngay_xuat"></th>
                                <th style="width:300px !important" transloco="system.thong_tin"></th>
                                <th style="width:120px !important" transloco="system.update_by"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listData?.length != 0">
                            <tr *ngFor="let item of listData;  index as i;">
                                <td style="width:100px" align="center">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item transloco="view"
                                            (click)="openDialogDetail(item,i)"></button>
                                        <button mat-menu-item transloco="edit"
                                            (click)="openDialogEdit(item,i)"></button>
                                        <button *ngIf="item.db.status_del == 1"
                                            mat-menu-item transloco="system.huy"
                                            (click)="revertStatus(item,2)"></button>
                                    </mat-menu>
                                </td>
                                <td align="center" style="width:50px" class="font-bold">{{currentIndex+ i+1 }}</td>
                                <!-- <td>   
                                    <span class="text-blue-900 font-bold"> {{ item.db.ma }}</span>
                                    <br>
                                    <span class="font-bold" transloco="system.ghi_chu"></span> : {{ item.db.ghi_chu  }}
                                </td> -->
                                <td>
                                    <span>
                                        <span class="text-blue-900 font-bold"> {{ item.db.ma }}</span>
                                    </span>
                                    <br />
                                    <span>
                                        <span>{{ item.db.ten }}</span>
                                    </span>
                                </td>
                                <td>{{ item.db.ngay_xuat | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <div *ngIf="item.ten_kho != null"><span transloco="system.kho"
                                            class="font-bold"></span>: <span>{{ item.ten_kho }}</span></div>
                                    <div *ngIf="item.ma_don_hang != null"><span transloco="system.don_hang"
                                            class="font-bold"></span>: <span>{{ item.ma_don_hang }}</span></div>
                                    <div *ngIf="item.ten_loai_xuat != null"><span transloco="system.loai_xuat"
                                            class="font-bold"></span>: <span>{{ item.ten_loai_xuat }}</span></div>
                                </td>
                                <td>
                                    <span class="text-blue-900 font-bold">
                                        {{ item.ten_nguoi_cap_nhat }}
                                    </span>
                                    <br />
                                    <span>{{ item.db.ngay_cap_nhat | date: 'dd/MM/yyyy HH:mm' }}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="listData?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available" transloco="noData"></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>