.uploadfilecontainer {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 330px;
    margin: 5px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}
.icon-button{
    color: #4f46e5;
    padding: 0;
    min-width: 0;
    width: 60px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
}
.icon-button:hover{
    background-color: gray;
    border-radius: 100%;
}
.icon-button:focus{
    opacity: 1 !important;
}