.swal2-popup{
    padding: 0 !important;
    padding-bottom: 1.2rem !important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}
.swal2-content{
    padding: 0 !important;
}
.background_error{
    background-color: #dc3545 !important;
    height: 100px !important;
    width: 100% !important;
}
.background_success{
    background-color: #198754 !important;
    height: 100px !important;
    width: 100% !important;
}
.background_info{
    background-color: #0d6efd !important;
    height: 100px !important;
    width: 100% !important;
}
.img_sweetalert{
    
    height: 100px !important;
    width: 100px !important;
}