/* ----------------------------------------------------------------------------------------------------- */

@import '~@syncfusion/ej2-buttons/styles/material.css';  
@import '~@syncfusion/ej2-calendars/styles/material.css';  
@import '~@syncfusion/ej2-dropdowns/styles/material.css';  
@import '~@syncfusion/ej2-inputs/styles/material.css';  
@import '~@syncfusion/ej2-navigations/styles/material.css';
@import '~@syncfusion/ej2-popups/styles/material.css';
@import '~@syncfusion/ej2-splitbuttons/styles/material.css';
@import '~@syncfusion/ej2-notifications/styles/material.css';
@import '~@syncfusion/ej2-angular-grids/styles/material.css';


// To this (choose one):
@import '~@syncfusion/ej2-base/styles/material.css';  // Using webpack alias



/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";
.qcont:first-letter {
    text-transform: capitalize
  }
  .multiline-tooltip{
    white-space: pre;
}
  .swal2-popup{
      padding: 0 !important;
      padding-bottom: 1.2rem !important;
      border-top-left-radius: 0.5rem !important;
      border-top-right-radius: 0.5rem !important;
  }
  .border-file{
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
}
  .swal2-content{
      padding: 0 !important;
  }
  .background_error{
      background-color: #dc3545 !important;
      height: 100px !important;
      width: 100% !important;
  }
  div{
    .dataTables_scrollBody{
         table{
            tbody{
                td {
                    vertical-align: top !important;
                  }
            }
         }
    }
    .dataTables_scrollHead{
        position: sticky !important;
        top: 0;
        z-index: 10;
   }
  }

  
           
  .background_success{
      background-color: #198754 !important;
      height: 100px !important;
      width: 100% !important;
  }
  .background_info{
      background-color: #0d6efd !important;
      height: 100px !important;
      width: 100% !important;
  }
  .img_sweetalert{
      height: 100px !important;
      width: 100px !important;
  }
.background-color-web-primary {
   // background-color: #1E293B !important;
    background-color: #273a87  !important;
}

.background-color-web-second {
   // background-color: #333333 !important;
    background-color: #273a87  !important;
}

.color-web-primary {
    cursor: pointer !important;
    //color: #336633 !important;
    background-color: #273a87  !important;
}

.color-web-second {
    cursor: pointer !important;
   // color: #333333 !important;
    background-color: #273a87  !important;
}

.boder-web-primary {
    //border-color: #336633 !important;
    background-color: #273a87  !important;
}

.boder-web-second {
    //border-color: #333333 !important;
    background-color: #273a87  !important;
}

.mat-dialog-container {
    border-radius: 0px !important;
}

.text-base {
    size: 14px !important;
}

.swiper {
    width: 100%;
    padding-bottom: 35px;
}

.bka-bg-tab-event {
    background-color: #8F8F8F !important;
}

.bka-border-color-event {
    border-color: #8F8F8F !important;
}

.swiper-pagination {
    bottom: 0px !important
}

.mySwiper {
    padding-bottom: 35px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 382px;
    }
}

.mySwiper1 {
    padding-top: 10px;
    width: 100%;
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 460px;
        opacity: 1;
    }
    .swiper-slide-active {
        opacity: 1;
    }
}

.mySwiperDienGia {
    padding-top: 10px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 295px;
    }
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.mySwiperNhaTaiTro {
    padding-top: 10px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 295px;
    }
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.mySwiperCuuSinhVien {
    padding-top: 10px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 295px;
    }
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.mySwiperHinhAnh {
    padding-top: 10px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 575px;
    }
    .swiper-slide-prev {
        opacity: 0.5;
        transform-origin: center left;
        transform: scale(0.9);
    }
    .swiper-slide-next {
        opacity: 0.5;
        transform-origin: center right;
        transform: scale(0.9);
    }
    .swiper-slide-active {
        .image-inside {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.mySwiperVideo {
    padding-top: 10px;
    width: 100%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 460px;
    }
    .swiper-slide-active {}
}

.mySwiperBanner {
    width: 100%;
    padding-bottom: 0px;
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
    .swiper-pagination {
        bottom: 20px !important
    }
}

.mySwiperMobile {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    .swiper-slide {}
}

.mySwiperMobileVieo {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    .swiper-slide {}
}

.mySwiperMobileBlue {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    .swiper-slide {}
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.mySwiperMobileDienGia {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    .swiper-slide {}
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.mySwiperMobileNhaTaiTro {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    .swiper-slide {}
    .swiper-pagination-bullet {
        background-color: white !important;
    }
    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.bka-button-truy_cap {
    background-color: #273a87 !important;
    border-radius: 5px !important;
}

.bka-button-truy_cap:hover {
    background-color: #333333 !important;
    border-radius: 5px !important;
}

.text-size-web-primary {}

.text-size-web-second {}

.bka-button-dang-ky {
    background-color: red !important;
}

.bka-button-dang-ky:hover {
    background-color: #333333 !important;
}

.bka-text-primary {
    cursor: pointer !important;
    color: #273a87 !important;
}

.bka-text-second {
    cursor: pointer !important;
    color: #333333 !important;
}

.bka-text {
    cursor: pointer !important;
    color: #273a87 !important;
}

.bka-text:hover {
    cursor: pointer !important;
    color: #333333 !important;
}

.height_header_web {
    height: 80px !important;
}

.height_header_mobile {
    height: 60px !important;
}

.margin_header_coverimage {
    margin-top: 80px !important;
}

.margin_header_mobile {
    margin-top: 60px !important;
}

.margin_header_web {
    margin-top: 40px !important;
}

.swiper-button-next {
    font-size: 30px !important;
}

.swiper-button-next:after {
    font-size: 30px !important;
}

.swiper-button-prev {
    font-size: 30px !important;
}

.swiper-button-prev:after {
    font-size: 30px !important;
}

.fix_font_size {
    font-size: 14px !important;
}

.fix_top_web {
    top: 92px !important;
}

.fix_top_mobile {
    top: 60px !important;
}

.bg-bka {
    background-color: #273a87 !important;
}

.bg-bka-header {
    background-color: #EAEAEA !important;
}

.text-bka-header {
    font-size: 14px !important;
    color: black !important;
    //font-weight: bolder !important;
}

.my-full-screen-dialog {
    max-width: 100vw !important;
    box-sizing: border-box;
}

.ant-table-content {
    overflow: auto;
}

.my-full-screen-dialog .mat-dialog-container {
    border-radius: 0 !important;
    height: 100vh !important;
    min-height: 100vh !important;
    width: 100vw !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.mat-form-field-suffix {
    top: unset !important;
}

.mat-dialog-content {
    max-height: 85vh !important;
}

.not_yet_implemented {
    background-color: purple !important;
    color: white !important;
}

.processing {
    background-color: blue !important;
    color: white !important;
}

.pending {
    background-color: orange !important;
    color: white !important;
}

.finished {
    background-color: green !important;
    color: white !important;
}

.basic-container {
    padding: 30px;
}

.overdue {
    background-color: red !important;
    color: white !important;
}

.uploadfilecontainer {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 100px;
    width: 90%;
    margin: 5px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.uploadfilecontainer-avatar {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 90%;
    margin: 5px auto;
    border: 2px solid #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer-avatar:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

input[autonumeric],
span[autonumeric] {
    text-align: right;
}

.mat-dialog-container {
    max-height: 100vh !important;
    padding: 0px !important
}

.cdk-overlay-pane {
    max-width: 100vw !important;
}

.dataTables_wrapper .cell-border tr.bg-blue-300:nth-child(even) {
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity)) !important;
}

.dataTables_wrapper {
    .cell-border {
        tr:nth-child(even) {
            background-color: #f9fafb !important;
        }
        tr {
            td {
                table {
                    tr {
                        td {
                            border: none !important;
                        }
                    }
                }
            }
            th {
                color: white !important;
                border-top: 1px solid #dddddd !important;
                border-left: 1px solid #dddddd !important;
                border-right: 1px solid #dddddd !important;
                // border-bottom: 1px solid #dddddd!important;
                // text-transform: uppercase!important;
                background-color: #1976D2;
            }
            th:first-child {
                border-left: 1px solid #dddddd;
            }
        }
    }
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #f9fafb;
}

table.dataTable thead th,
table.dataTable thead td {
    border-top: 1px solid #dddddd !important;
    border-left: 1px solid #dddddd !important;
    border-right: 1px solid #dddddd !important;
}

.sys_approval_table tbody tr:nth-child(even) {
    background-color: inherit !important;
}

body.theme-default .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

// .mat-tab-body-wrapper{
//     overflow: visible !important;
// }
// .mat-tab-group-dynamic-height {
//     .mat-tab-body,.mat-tab-body-content {
//         padding: 10px;
//         overflow: visible !important;
//     }
// }

.mat-tab-group-dynamic-height {
    .mat-tab-body-content {
        padding: 10px;
    }
}

.mat-dialog-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #F0F0F0
}

.mat-dialog-container {
    background-color: #F0F0F0 !important;
}

.mat-form-field-appearance-outline {
    input {
        height: 20px;
    }
}

.mat-form-field-appearance-outline.read-only-input {
    .mat-form-field-outline {
        background-color: lightgray;
    }
    input {
        color: black
    }
}

.mat-checkbox-layout {
    padding-left: 5px;
}

.md-datepicker-calendar-pane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1151;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.error-message {
    color: red;
}

.table-border {
    tr {
        border: 1px solid;
    }
}

.no-data-available {
    text-align: center;
}

.mat-button-action {
    color: #1F2937 !important;
    background: #e5e7eb !important;
}

.dataTables_empty {
    display: none;
}

.mat-input-full-width {
    border-bottom: 1px solid;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    input {
        width: 99%;
    }
}

.listButtonAction {
    button {
        margin-right: 10px !important;
    }
}

.dataTables_scroll {
    margin-top: 15px !important;
}

.dt-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.dt-button {
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin-right: 12px;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    color: white !important;
    background: blue !important;
}

button:focus {
    outline: none !important;
}

body {
    background-color: ghostwhite !important;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    background-color: #e6f7ff !important;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #e6f7ff !important;
}

table.dataTable tbody tr.selected {
    background-color: #e6f7ff !important;
}

table.dataTable tbody tr.selected.bg-blue-300 {
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity)) !important;
}

.ant-empty-image img {
    margin: auto;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    border-bottom: none !important;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: none;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
    border-top: none;
    border-right: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #1976D2;
    color: white !important;
}
.dataTables_wrapper .dataTables_length select{
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid white;
    background-color: #333333;
    background: #333333;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ffffff;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    left: 2.7px;
}

.ant-empty-image img {
    width: auto;
}

.dataTables_length {
    padding-bottom: 1rem;
}

table.dataTable thead th,
table.dataTable thead td {
    background-color: #0D47A1;
    color: white !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-subscript-wrapper {
    position: absolute;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #dddddd;
}

th {
    white-space: nowrap;
    overflow: hidden;
}

// Config gantt chart
.gantt_message_area.dhtmlx_message_area {
    display: none;
}

.gantt_task_line.gantt_project {
    @apply border-none;
}

.gantt_task_line {
    @apply border-none;
}

.gantt_task_content {
    @apply text-base px-2;
}

// .gantt_grid_scale, .gantt_task_scale, .gantt_task_vscroll{
//     @apply  text-gray-900 bg-gray-300;
// }
.gantt_grid_scale .gantt_grid_head_cell {
    @apply text-gray-900 font-semibold;
}

.gantt_task .gantt_task_scale .gantt_scale_cell {
    @apply text-gray-900 font-semibold bg-gray-300;
}

.gantt_grid_scale {
    @apply text-gray-900 font-semibold bg-gray-300;
}

.gantt_grid_scale .gantt_grid_head_cell {
    @apply border-r-2 border-gray-50;
}

.gantt_grid_data .gantt_row.gantt_selected,
.gantt_grid_data .gantt_row.odd.gantt_selected,
.gantt_task_row.gantt_selected {
    background-color: #e6f7ff !important;
}

.gantt_grid_data .gantt_row.odd:hover,
.gantt_grid_data .gantt_row:hover {
    background-color: #e6f7ff !important;
}

.gantt_task_row.gantt_selected .gantt_task_cell {
    border-right-color: white !important;
}

.gantt_task_cell {
    border-right: none !important;
}

.gantt_row,
.gantt_task_row {
    border-bottom: none !important;
}

.bka_nganh_nghe {
    color: black;
    border-bottom: 4px solid #273a87;
}

.no-radius {
  border-radius: 0 !important;
}