<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="data.navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                   
                    src="assets/images/logo/logo.png" style="image-rendering: -webkit-optimize-contrast;">
                    <!-- LOGO_MANG_NHA_NONG_ ELIPP -->
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <!-- <notifications [notifications]="data.notifications"></notifications> -->
                <!-- <user-menu [showAvatar]="false"></user-menu> -->
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <mat-icon
                    class="icon-size-24"

                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-black text-center leading-normal font-medium">
                    Xin chào {{user.full_name}}

                </div>
                <!-- <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{data.user.email}}
                </div> -->
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-4 pr-6 pl-2 mt-0 mb-1" ></div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Navigation toggle button -->
        <button mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_solid:menu'"></mat-icon>
        </button>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-2">
            <language class="background-color-web-primary" style="border-radius: 1.25rem!important;"></language>

            <user-menu class="background-color-web-primary" style="border-radius: 1.25rem!important;"></user-menu>
            <a mat-flat-button class="background-color-web-primary" style="border-radius: 1.25rem!important;" 
               [color]="'primary'"
               [routerLink]="'/home'">
                <span transloco="system.homepage"></span>
            </a>

        </div>

    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <!-- Footer -->
    <div class="relative flex flex-0 items-center w-full h-10 sm:h-10 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap w-full max-w-screen-xl mx-auto px-6 sm:px-2">
            <div align="right" class="flex-1 text-base text-center">
              
                <a  *ngIf="!isScreenSmall"  href="https://vnaisoft.com/" class="text-black "> Copyright © {{currentYear}} SV IUH - All right reserved</a>
                
                <a  *ngIf="isScreenSmall"  href="https://vnaisoft.com/" class="text-black "> Copyright © {{currentYear}} SV IUH <br> All right reserved</a>
               
              

            </div>
        </div>

    </div>

</div>
