
<div style="position: relative;overflow: hidden; width: 100%; height: 100%;">
    <div
        style="background-image: url('assets/images/portal/bg_sign_in.jpg');top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-position: center;opacity: 0.76;">
        <div
            style="top: 0;left: 0; background: linear-gradient(to left top, #6750A4 0%, rgba(103, 80, 164, 0) 65%);width: 100%;height: 100%;">
            <div style=" top: 0;left: 0;background-color: rgba(255, 255, 255, 0.2);width: 100%;height: 100%;"
                class="flex-auto flex items-center justify-center">

                <div class="flex items-center justify-center"
                    style="background-color: white !important;opacity: 1;position: relative;">
                    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
                        style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                            <!-- Logo -->
            <div class="w-50">
                <img src="{{data_logo.avatar}}" style="image-rendering: -webkit-optimize-contrast;">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Thay đổi mật khẩu</div>
            <div class="mt-4">
                <!--Tài khoản của bạn đang được phê duyệt.
    Vui lòng kiểm tra hộp thư thường xuyên để nhận phản hồi từ chúng tôi.-->

                <p>Mật khẩu đã được thay đổi thành công. Vui lòng đăng nhập.</p>

             
                <button class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'accent'"
                        (click)="gobackhomepage()">
                    <span transloco="common.signin"></span>

                </button>
                            </div>
                
                            <div align="center" class="flex-1 text-sm mt-10">
                                Copyright © {{currentYear}} SV IUH - All right reserved
                                <br />
                                <a href="https://vnaisoft.com/" style="color:black">Powered by SV IUH</a>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
