<div>

    <table class="sys_approval_table w-full" *ngIf="model.id==0">
        <tr style="background-color: inherit;" align="center">
            <td class="text-md">
                <span class="relative inline-block font-bold py-2 px-4 text-yellow-800 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-yellow-200 dark:bg-yellow-500 opacity-50 rounded-full"></span>
                    <span class="relative" transloco="common.create"></span>
                </span>
            </td>
        </tr>
    </table>
    <a *ngIf="model.status_finish==5" (click)="openpopupview()">


        <table class="sys_approval_table w-full">
            <tr style="background-color: inherit;" align="center">
                <td class="text-md">
                   <span class="relative inline-block font-bold py-2 px-4 text-purple-900 dark:text-purple-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-purple-300 opacity-50 rounded-full"></span>
                        <span class="relative " transloco="common.return"></span>:&nbsp;
                        <span class="font-bold  leading-tight">{{model.from_user_name}}</span>
                    </span>
                </td>
            </tr>
            <tr style="background-color: inherit;" align="center">
                <td colspan="2">
                    <span class="relative inline-block font-bold py-2 px-4 text-blue-900 dark:text-blue-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-blue-300 opacity-50 rounded-full"></span>
                        <span class="relative " transloco="common.reason"></span>:&nbsp;
                        <span class="font-bold  leading-tight">{{model.last_note}}</span>
                    </span>

                </td>
            </tr>


        </table>


    </a>
    <a *ngIf="model.status_finish==4" (click)="openpopupview()">

        <table class="sys_approval_table w-full">
            <tr style="background-color: inherit;" align="center">
                <td class="text-md">
                    <span class="relative inline-block font-bold py-2 px-4 text-red-900 dark:text-red-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-red-200 dark:bg-red-500 opacity-50 rounded-full"></span>
                        <span class="relative" transloco="common.cancel"></span>
                    </span>
                </td>
            </tr>
            <tr style="background-color: inherit;" align="center">
                <td colspan="2">
                    <span class="relative inline-block font-bold py-2 px-4 text-blue-900 dark:text-blue-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-blue-300 opacity-50 rounded-full"></span>
                        <span class="relative " transloco="common.reason"></span>:&nbsp;
                        <span class="font-bold  leading-tight">{{model.last_note}}</span>
                    </span>

                </td>
            </tr>
        </table>
    </a>
    <a *ngIf="model.status_finish==6" (click)="openpopupview()">

        <table class="sys_approval_table w-full">
            <tr style="background-color: inherit;" align="center">
                <td class="text-md">
                    <span class="relative inline-block font-bold py-2 px-4 text-gray-900 dark:text-gray-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-gray-200 dark:bg-gray-500 opacity-50 rounded-full"></span>
                        <span class="relative" transloco="common.close"></span>
                    </span>
                </td>
            </tr>
            <tr style="background-color: inherit;" align="center">
                <td colspan="2">
                    <span class="relative inline-block font-bold py-2 px-4 text-blue-900 dark:text-blue-50 leading-tight"
                       >
                        <span aria-hidden class="absolute inset-0 bg-blue-300 opacity-50 rounded-full"></span>
                        <span class="relative " transloco="common.reason"></span>:&nbsp;
                        <span class="font-bold  leading-tight">{{model.last_note}}</span>
                    </span>

                </td>
            </tr>
        </table>


    </a>
    <a *ngIf="model.status_finish==2" (click)="openpopupview()">

        <table class="sys_approval_table w-full" style="color:blue">
            <tr style="background-color: inherit;">
                <td colspan="4">
                    <span>{{model.to_user_name}}</span>
                </td>
            </tr>
            <tr style="background-color: inherit;">
                <td style="padding:0px">
                    <mat-icon>loop</mat-icon>
                </td>
                <td>

                    <span transloco="common.waiting_approval"></span>
                </td>
            </tr>


        </table>
    </a>
    <a *ngIf="model.status_finish==3" (click)="openpopupview()">

        <table class="sys_approval_table w-full" style="color:green">
            <tr style="background-color: inherit;" align="center">
                <td class="text-md">
                    <span class="relative inline-block font-bold py-2 px-4 text-gray-700 leading-tight">
                        <span aria-hidden class="absolute inset-0 bg-green-200 dark:bg-green-500 opacity-50 rounded-full"></span>
                        <span transloco="common.approved" class="text-gray-900 dark:text-gray-50"></span>
                    </span>
                </td>
            </tr>
        </table>
    </a>


</div>
