<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <h1 mat-dialog-title class="dark:text-white" transloco="NAV.bao_cao_xuat_kho"></h1>
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap mt-2">
                    <div class="flex-1">
                        <cm_input [label]="'system.from_date'" [type]="'datepicker'"
                            [(model)]="filter.tu_ngay">
                        </cm_input>
                    </div>
                    <div class="flex-1">
                        <cm_input [label]="'system.to_date'" [type]="'datepicker'"
                            [(model)]="filter.den_ngay">
                        </cm_input>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_select 
                                   [label]="'system.loai_mat_hang'"
                                   [listData]="list_loai_mat_hang"
                                   [(model)]="filter.id_loai_mat_hang"
                                   [callbackChange]="rerender.bind(this)"></cm_select>
                    </div>
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label>
                                {{'search' | transloco}} ( {{
                                'system.mat_hang' | transloco }} )
                            </mat-label>
                            <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()"
                                placeholder="{{'go_tu_khoa_tim_kiem' | transloco}}">
                            <button mat-icon-button color="primary" class="mr-4" (click)="rerender()">
                                <span transloco="search"></span>
                            </button>
                        </mat-form-field>
                    </div>


                </div>
                <div align="right" class="space-x-2">

                    <button class="rounded py-2 px-4 font-bold  bg-yellow-500  hover:bg-yellow-600  item2s-center"
                        (click)="exportToExcel()">
                        <p transloco="system.xuat_excel" class="mb-0 text-white"></p>
                    </button>
                    <button class="rounded py-2 px-4 font-bold  bg-blue-500  hover:bg-yellow-600  item2s-center"
                        (click)="rerender()">
                        <p transloco="search" class="mb-0 text-white"></p>
                    </button>
                </div>
            </mat-card>
            <br />

            <div class="w-full">
                <table datatable [dtOptions]="dtOptions" class="cell-border myTable hover w-full">
                    <thead>


                        <tr>
                            <!-- <th style="width:50px !important"></th> -->
                            <th style="max-width:50px !important" transloco="system.no_"></th>
                            <th transloco="NAV.sys_phieu_xuat_kho"></th>
                            <th transloco="system.ten_mat_hang"></th>
                            <th style="width:120px !important" transloco="system.so_luong"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listData?.length != 0">
                        <tr *ngFor="let item of listData;  index as i;">
                            <td align="center"> <span class="font-bold"> {{currentIndex+ i+1 }}</span> </td>
                            <td>
                                <span class="text-blue-900 font-bold"
                                    (click)="openDialogDetailPhieuxuatKho(item.ma_phieu_xuat_kho)"> {{
                                    item.ma_phieu_xuat_kho }}</span>
                                <br />
                                <span> {{ item.ngay_xuat_kho | date: 'dd/MM/yyyy HH:mm' }}</span>
                                <br />
                            </td>
                            <td>
                                <span class="text-blue-900 font-bold" (click)="get_mat_hang(item.ma_mat_hang)"> {{
                                    item.ma_mat_hang }}</span>
                                <br />
                                <span>{{ item.ten_mat_hang }} </span>
                                <br>
                                <span
                                    transloco="system.loai_mat_hang"></span><span>:&nbsp;</span><span>{{item.ten_loai_mat_hang
                                    }}</span>

                            </td>
                            <td class="text-right">{{ (item.so_luong) | number}} {{item.ten_don_vi_tinh}}</td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="listData?.length == 0">
                        <tr class="h-40">
                            <td colspan="100" class="no-data-available">
                                <nz-empty
                                    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                    [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                                    <ng-template #contentTpl>
                                        <span transloco="no_data"></span>
                                    </ng-template>
                                </nz-empty>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>

        </div>
    </div>
</div>